/* Root = Horizontal, Secondary = Vertical */
ul#navmenu {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 500px; /*For KHTML*/
	}

ul#navmenu li {
	margin: 0;
	border: 0 none;
	padding: 0 25px;
	float: left; /*For Gecko*/
	display: inline;
	list-style: none;
	position: relative;
	height: 38px;
	}

ul#navmenu li a {
	padding-top: 12px;
	text-decoration: none;
	color:white;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bolder;
    
}

ul#navmenu ul {
	background: #6AC251;
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 150px;
	list-style: none;
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	text-align: left;
	}

ul#navmenu ul:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
	}

ul#navmenu ul li {
	border-left: 1px solid green;
	border-bottom: 1px solid green;
	border-right: 1px solid green;
	width: 99px;
	float: left; /*For IE 7 lack of compliance*/
	display: block !important;
	display: inline; /*For IE*/
	}

ul#navmenu ul li:hover {
		background: orange;
	}
ul#navmenu ul ul li {
	border-right: 1px solid green;
	border-left: none;
}

/* Root Menu */
ul#navmenu a {
	float: none !important; 
	float: left; 
	display: block;
	}

/* Root Menu Hover Persistence */
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
/*	background: #CCC;
	color: #FFF;*/
	}

/* 2nd Menu */
ul#navmenu li:hover li a,
ul#navmenu li.iehover li a {
	float: none;
	}

ul#navmenu ul ul,
ul#navmenu ul ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 150px;
	width: 150px;
	}

/* Do Not Move - Must Come Before display:block for Gecko */
ul#navmenu li:hover ul ul,
ul#navmenu li:hover ul ul ul,
ul#navmenu li.iehover ul ul,
ul#navmenu li.iehover ul ul ul {
	display: none;
	}

ul#navmenu li:hover ul,
ul#navmenu ul li:hover ul,
ul#navmenu ul ul li:hover ul,
ul#navmenu li.iehover ul,
ul#navmenu ul li.iehover ul,
ul#navmenu ul ul li.iehover ul {
	display: block;
	}

