body {
	background: #DDDDEE;
	font-family: verdana;
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
	margin:0;
	padding: 0;

		a {
			text-decoration: none;

			&:hover {
				text-decoration:underline;
			}
		}

	header {
		div.main {
			align-items: center;
			background: #9999CC;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-between;
			height: 50px;
			width: 100%;
			margin: 0;

			div.links {
				display: inline-flex;
				align-items: center;
				margin-left: 60px;
				a.logo {
					img {
					height: 40px;
					width: 40px;}
				}

				ul {
					display: inline;
					margin: 0 0 0 20px;
					padding: 0;
					li {
						display: inline;
						list-style: none;
						padding:5px;

						&:hover {
							background: #5252BE;
						}

						&:last-of-type {
							margin-right:0;
						}

						a {
							color: white;
							font-family: helvetica;
							font-size: 1.1em;
							font-weight: bolder;
							text-decoration: none;
							padding: 5px;

						}
					}
				}
			}

			div.search {
				display: inline-flex;
				align-items: center;
				margin-right: 60px;
				input {
					border: none;
					border-top-left-radius: 7px;
					border-bottom-left-radius: 7px;
					height: 30px;
					width: 200px;
				}
				button {
					border: none;
					border-top-right-radius: 7px;
					border-bottom-right-radius: 7px;
					color: white;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					height:36px;
					background: #7777CC;
					margin: 0;

					&:hover {
						background: #5252BE;
					}
				}
			}
		}

		div.secondary {
			background: #666699;
			height: 30px;
		}
	}

	div.container {

		text-align: center;
		margin: 0 auto;
		width: 70%;

		div.maintext {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			width: 400px;

			h2 {
				font-weight: 500;
				font-size: 22px;
				font-style: normal;
				line-height: 24px;
			}
			div {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
				justify-content: center;
				input {
					border: none;
					border-top-left-radius: 7px;
					border-bottom-left-radius: 7px;
					height: 30px;
					width: 350px;
				}

				button {
						border: none;
						border-top-right-radius: 7px;
						border-bottom-right-radius: 7px;
						color: white;
						font-weight: 400;
						font-size: 14px;
						line-height: 20px;
						height:34px;
						background: #7777CC;
						margin: 0;

						&:hover {
							background: #5252BE;
						}
				}
			}

			p.ss { color: gray }
		}
		div.hot{ 
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;

			h2 {
				font-weight: 500;
				font-size: 22px;
				line-height: 24px;
				flex-basis: 100%;
				text-transform: uppercase;
			}

			div {
				flex-basis: 25%;

				span {
					&::before {
						content:'"';
					}
					&::after {
						content:'"';
					}
				}

			}
		 }
	}

	footer {
		div.main {
			align-items: center;
			background: #9999CC;
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: space-around;
			height: 50px;
			width: 100%;
			margin: 0;

			ul {
				display: inline;
				margin: 0 0 0 20px;
				padding: 0;

				li {
					display: inline;
					list-style: none;
					margin-right: 10px;

					&:last-of-type {
						margin-right:0;
					}

					a {
						color: white;
						font-family: verdana;
						font-weight: 400;
						font-size: 15px;
						line-height: 20px;
					}
				}
			}
		}

		div.secondary {
			background: #666699;
			height: 30px;
		}

		div.last {
			margin: 0 200px;
			text-align: center;
			ul {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-around;
				margin: 20px 200px 0 200px;

				li {
					display: inline;
					list-style: none;
				}
			}

			p {
				font-size: 11px;
				line-height: 16px;
			}
		}
	}
}


/* ADVERTISE HERE TEMPLATE STYLE */

body {
	div.page-container {
		display: block !important;
		margin: 40px auto;
		text-align: center;
		width: 60%;

		table.page-table {
			border: 1px #CBEBF4 solid !important;
			border-radius: 10px;
			margin: 20px 0;
			width: 100%;

			th {
				background: #D9EDF7;
				border: 1px #CBEBF4 solid;
				color: #31708f;
				font-weight: 500;
				font-size: 18px;
				line-height: 20px;
				padding: 25px;
				text-align: center;
			}

			td {
				background: #EEEEFF;
				border-bottom: 1px lightgray solid;
				padding: 5px;
			}

			td.title {
				background: #FCF8E3;
				font-weight: bolder;
			}

			tr {
				&:last-of-type {
					td {
						border-bottom:none;
					}
				}
			}
		}

		div.adv-div {
			background: #EEEEFF;
			border: 1px #CBEBF4 solid !important;
			border-radius: 10px;
			margin: 20px 0;
			width: 100%;
		}

	}
}

/*  PRIVACY TEMPLATE STYLE */

body {
	div.privacy-container {
		p {
			margin: 20px;
		}

	}
}

